/build
**/node_modules
package.json
.eslintignore
.editorconfig
.gitignore
.prettierignore
.gitattributes
.env
.env.development
.env.production
.DS_Store
LICENSE
.eslintcache
**/*.svg
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.ico
*.lock
