**/*.png
**/*.svg
lib/
es/
dist/
build/
coverage/
CNAME
LICENSE
yarn.lock
package-lock.json
netlify.toml
yarn-error.log
*.sh
*.snap
.gitignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
*.html
CHANGELOG.*.md
